
@media(max-width:768px){
    .header{
        .headerMessage{
            h1{
                font-size: 2rem !important;
            }
        }
    }
}

@media(max-width:480px){
    
    h6{
        font-size: .8rem;
    }

    h5{
        font-size: 1rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h1{
        font-size: 1.8rem;
    }
}