//general

.hide{
    height: 0 !important;
    opacity: 0;
    top: 0 !important;
    
}

//body


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 40rem;
    background: #363636;
    height: fit-content;
    margin-bottom: 90px;
    .headerMessage{
        color: #fff;
        text-align: center;
        padding: 8rem 15px 0;
        h1{
            font-weight: lighter;
            font-size: 3.5rem;
        }

        h3{
            font-weight: lighter;
        }
    }
    .headerContent{
        background: #fff;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 1.5rem 0;
        position: relative;
        top: 60px;
        border: 1px solid #dcdcdc;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
        .imageContainer{
            img{
                position: relative;
                border-radius:50%;
                width: 80%;
                height: auto;
                max-width: 20rem;
                max-height: 20rem;
                object-fit: cover;            
            }
        }
        h3{
            padding-top: 1.5rem;
        }
    }
}

.recipeContent{
    padding: 0;    
    border: 1px solid #dcdcdc;
    margin: 1rem 0;
    cursor: pointer;
    img{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    h5{
        text-align:center;
    }

    h6{
        text-align: start;
        padding: .25rem 0 .75rem;
        margin: 0 1.5rem;

    }

}
.customModalWrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .25s;

    .modal-bg{
        width: inherit;
        height: inherit;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
    }

    .modalContent{
        width: 100%;
        max-width: 45rem;
        height: auto;
        min-height: 25rem;
        background: #fff;
        color: #000;
        border: 1px solid #dcdcdc;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem 1.5rem;
        overflow: auto;
        min-height: 100vh;

        .fa-times{
            position: absolute;
            top: .5rem;
            right: .75rem;
            cursor: pointer;
        }


        
        @mixin boxBorder{
            border-bottom: 1px solid #dcdcdc;
            margin-bottom: .5rem;
            padding-bottom: .5rem;
        }


        .modalHeader{
            display: flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom: .8rem;
            i,
            svg{
                font-weight: 1.5rem;
                cursor: pointer;
            }
        }

        .modalMainBox{
            display: flex;
            img{
                min-width: 25rem;
                max-height: 20rem;
                object-fit: cover;
            }
        }

        .mealDataBox{
            border: 1px solid #cccccc;
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            margin-left: 1rem;
        }

        .ingredientsBox{
            margin-top: .8rem;
            @include boxBorder;
            ul{
                padding: .5rem 1.5rem 0;
                li{
                    margin-bottom: .5rem;
                }
            }
        }

        .directionsBox{   
            span{
                margin: 12rem 0

            }
            .recipeStep{
                margin: 1rem 0
            }
        }
    }

}

@import "responsiveStyle";