footer{
    .footerTop{
        width:100%;
        padding: 3rem 0;
        background:#000;
        position:relative;
        .socialMediaContent{
            display:flex;
            justify-content: center;
    
            i,
            svg{
                margin: 1rem;
                color:#000;
                background: #5c9738;
                border-radius: 50%;
                font-size: 2rem;
                padding: 5px;
                cursor:pointer;
                transition: all .3s ease;
    
                &:hover{
                    color:#5c9738;
                    background: #000;
                    border: 1px solid ;
                }
            }
        }
    
        .relatedLinksContent{
            display: flex;
            color: #cccccc;
            justify-content:center;
            
            small{
                border-right: 1px solid;
                padding: 0 1rem  ;
                text-transform:uppercase;           
                cursor: pointer;
                transition:all .3s ease;
                &:hover{
                    color:#fff;
                }
            }
    
            small:last-child{
                border: none;
            }
        }
    
        .scroll-btn{
            color:#fff !important;
            position:absolute;
            top:1rem;
            right:1.5rem;
            cursor: pointer;
            border:1px solid ;
            font-size: 1.5rem;
            padding: 2px;
        }
    }    

    .footerBottom{
        background-color: #5c9738;
        padding: 1rem 0;
        h6,
        small{
            color:#FFF;
            display: flex;
            justify-content:center;
        }
        
    }
}